

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #e8f6ff !important;  
    /*     background-image: url('img/fondo.jpg') !important;*/
}

#navbar a{
    color: #2d898b;
    font-size: 18px;
    font-weight: bold;
}

/* .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
} */

.nav-link {
    border-bottom: 5px solid transparent;
}

.nav-link:hover {
    border-bottom: 5px solid #2d848a;
}

 .carousel {
    max-width: 80%;
    max-height: fit-content;
    margin: 0 auto;
} 

.carousel-indicators {
    width: auto;
    margin: 0 auto;
}

#video {
    margin:0 auto;
}



